

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gen-con{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    

}
.pre {
  background-color: #f4f4f4;
  border: 1px grey solid;
  padding: 1rem;
  overflow-x: auto;
  border-radius: 8px;
  font-size: 0.9rem;
}

