

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: rgb(167, 166, 166) solid 1px;

    
}
.gen-con{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    /* padding-left: 100px; */
    /* text-align: center; */
}

